@font-face {
	font-family: "Raleway";
	src: url("raleway.woff");
	src: url("raleway.woff2");
	src: url("raleway.eof");
	src: url("raleway.ttf");
}

html {
	font-family: "Raleway", sans-serif;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 100px;
	color: #585a3c;
}

h2 {
	font-size: 2.5em;
	padding: 40px;
}

h4 {
	font-weight: bold;
	font-size: 1.75em;
	padding: 20px;
}

h5 {
	font-size: 1.5em;
	padding: 15px;
}

h6 {
	font-size: 1.25em;
	padding: 10px;
}

p {
	padding: 5px;
}

header {
	box-sizing: border-box;
	background-color: lightgray;
	text-align: center;
}

.outerFlexHead {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexHead {
	display: flex;
	flex-direction: row;
}

.toolbar {
	padding: 10px;
	transition: .5s ease;
}

.toolbar:hover {
	opacity: .5;
}

.background {
	background: url("background2.jpg") no-repeat center center fixed;
	min-height: 1000px;
	min-width: 100%;
	background-size: cover;
	display: flex;
	text-align: center;
	justify-content: center;
	box-sizing: border-box;
}

.main {
	color: #585a3c;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 100%;
	min-height: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.schoolFlex {
	display: flex;
	flex-direction: column;
	height: 110%
}

.topTeams {
	padding-bottom: 20px;
}

#topTable {
	background-color: lightgray;
	margin-bottom: 20px; 
	transition: 1s ease;
}

#topTable:hover {
	box-shadow: 0px 0px 20px 2px;
	background-color: white;
	color: black;
}

.outerFlexFoot {
	position: fixed;
	display: flex;
	bottom: 0;
	clear: both;
	width: 100%;
	min-height: 30px;
	align-items: center;
	background-color: lightgray;
	color: #585a3c;
}

a {
	text-decoration: none;
	color: #585a3c;
}

table {
	min-width: 100%;
}

th {
	font-weight: bold;
	font-size: 1.5em;
	padding: 20px;
}

td {
	font-size: 1.5em;
	padding: 20px;
}

@media only screen and (max-width: 760px) {
	.background {
		box-sizing: border-box;
		min-height: 500px;
		height: 100%;
		min-width: 100%;
	}

	.outerFlexHead {
		justify-content: center;
	}

	.main {
		min-height: 50%;
		justify-content: space-around;
	}

	.schoolFlex {
		min-height: 75%;
		justify-content: space-between;
	}

	.school {

	}

	h1 {
		font-size: 2.5em;
		padding: 10px;
		margin: 10px;
	}

	h2 {
		font-size: 2em;
		padding: 10px;
	}

	h4 {
		font-size: 1.25em;
		padding: 10px;
	}

	h5 {
		font-size: 1em;
		padding: 5px;
	}

	h6 {
		font-size: 1em;
		padding: 5px;
	}
}